BasedOnStyle: LLVM
IndentWidth: 4
AlignArrayOfStructures: Left
AllowAllArgumentsOnNextLine: false
BinPackArguments: false
BinPackParameters: false
BreakArrays: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterFunction: true